.logo
{
    width: 100%;
    height: 20%;
    background-color: #151515;
    align-self: center;
}

#logoimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 80%;
}

.mainheaderindex{
    background: rgba(0, 0, 0, 0.975);
    color: #ffffff;
    cursor: default;
    height: 4.5rem;
    line-height: 4.25em;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 10001;
}

.maincontentboxindex
{
    padding-top: 1rem;
    width: 100%;
    margin: 0 auto;
}

.mobilegamesinfoparent
{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    padding: 50px 0;
    justify-content: center;
}

.gameinfocontainer {
    display: flex;
    flex-direction: column;
    max-width: 345px;
    filter: drop-shadow(0 2px 10px rgba(0,0,0,.25));
    border-radius: 20px;
    background-color: var(--white);
    transition: .2s ease-in-out
  }

  .mobilegamesbigImg {
    border-radius: 20px 20px 0 0;
    height: 345px;
    width: 345px
  }

  .gameinfocontainer figure {
    padding: 21px;
    display: flex;
    gap: 14px;
    align-items: center;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    background: #ffffff;
}

.gameinfocontainer:hover {
    transition: .2s ease-in-out;
    transform: scale(1.1)
}

article,figcaption,figure {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    vertical-align: baseline;
}

.gamenameheader
{
    margin: 0;
    color: #151515;
    font-family: "Galdeano", sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 100%;
    text-transform: uppercase;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    text-align: left;
}

.gamegenreheader
{
    margin: 0;
    color: #151515;
    font-family: "Galdeano", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    text-transform: uppercase;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
    text-align: left;
}

.gamelinkbuttonname
{
    margin: 0;
    color: #151515;
    font-family: "Galdeano", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    display: inline-block;
    border: 0;
    box-sizing: border-box;
}

.gameinfocontainer div {
    padding: 0px 21px 21px 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    box-sizing: border-box;
    margin: 0;
    line-height: 140%;
    border-radius: 0px 0px 20px 20px;
    transition: .2s ease-in-out;
    border: 0;
    vertical-align: baseline;
    background: #ffffff;
}

.platformname
{
    font-family: "Galdeano", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.65;
    text-decoration: underline;
    margin: 0;
}

.storeButton {
    background-color: var(--grey);
    padding: 10px;
    border-radius: 8px;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 1%;
    width: 60%;
    transition: .2s ease-in-out;
    background: #f1f1f1;
    text-decoration: none;
}

.mobilegamessmallImg {
    border-radius: 8px;
    height: 80px;
    width: 80px
}

@media screen and (min-width: 600px) {
    .logo {
        height: 220px;
    }

    #logoimg
    {
        width: 490px;
    }
}

@media screen and (max-width: 600px)
{
    .mobilegamesinfoparent
    {
        padding: 0;
        transform: scale(0.8);
    }
}